* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}


:root {
  --main-color: rgb(53, 141, 168);
}

.flex {
  display: flex;
}

.flex-ali {
  align-items: center;
}

.grid {
  display: grid;
}

.flex-col {
  flex-direction: column;
}

#main-container {
  grid-template-columns: 1.7fr 2fr;
}

#edit-section, #resume-section {
  padding: 30px;
  min-height: 100vh;
}

#edit-section {
  border-right: 2px solid black;
}

#title{
  text-align: center;
}

.header{
  color: var(--main-color);
  font-weight: bolder;
}

#edit-section > div{
  margin-bottom: 20px;
}

#resume-section {
  padding: 30px 100px;
}

#resume {
  border: 2px solid black;
  min-height: 100%;
}
