* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}


:root {
  --main-color-d: rgb(23, 94, 116);
  --main-color-l: rgb(86, 194, 227);
}

.flex {
  display: flex;
}

.flex-ali {
  align-items: center;
}

.grid {
  display: grid;
}

.flex-col {
  flex-direction: column;
}

.center {
  text-align: center;
}

#main-container {
  grid-template-columns: 1.7fr 2fr;
}

#edit-section, #resume-section {
  padding: 30px;
  min-height: 100vh;
}

#edit-section {
  border-right: 2px solid black;
  position: relative;
}

#title{
  text-align: center;
}

.header{
  color: var(--main-color-d);
  font-weight: bolder;
}

#edit-section > div{
  margin-bottom: 20px;
}

#resume-section {
  padding: 30px 100px;
}

#resume {
  border: 2px solid black;
  min-height: 100%;
}

#advice{
  position: absolute;
  bottom: 5px;
  right: 5px;
}

.required-marker{
    color: red;
}